h1{
    font-family: Arial;
    color: grey;
    text-align: center;
}
.secondline{
    font-family: Arial;
    font-size: 15px;
    color: grey;
    text-align: center;
}

.icon{
    font-family: Arial;
    font-size: 15px;
    color: grey;
    margin-left: 40px;
}

input,textarea{
    padding: 5px;
    border: 2px solid rgb(245,245,245);
    box-shadow: 1px 1px grey;
}
.commentbox{
    font-family:Arial;
    font-size: 15px;
    color: grey;
    margin-top: 15px;
    margin-left: 250px;
}

.button{
    font-family: Arial;
    font-size: 15px;
    color: white;
    background-color: black;
    border: none;
    width: 60px;
    height: 35px;
}


#user_first_name{
    margin-top: -200px;
    margin-left: 250px;
    margin-right: 10px;
}

input,textarea::placeholder{
    font-family: Arial;
}

.btn{
    margin-left: 710px;
    margin-top: 20px;

}

form{
    float: right;
    margin-right: 300px;
    margin-top: -125px;
}

.container{
    float: left;
    margin-left: 100px;
}
