<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../static/Project2.css" />
  <meta name="viewport" content="width=device-width" />
  <title>Project2</title>
</head>

<body>
  <div class="animation">
    <div class="logo">
      <img src="../static/icons/logo.png" alt="logo image" title="logo" class="img">
    </div>
    <div class="head">
      <h1 class="ani"><i>Josefina Body Care Collection</i></h1>
    </div>

    <div class="head1">
      <p class="ani1"><b>Discover the exotic sensation of all seasons</b></p>
    </div>

  </div>

  <div class="animation1">
    <div class="slidegroup">
      <div class="slide">
        <p class="offer"><b>FREE Shipping and Handling</b> on order over 50. <i>Code: FREE50</i></p>
      </div>
      <div class="slide">
        <p class="offer">Today only!<b> $5.99 INTO THE NIGHT BODY CARE </b> <i>Code: STARRYNIGHT</i></p>
      </div>
      <div class="slide">
        <p class="offer1"><b>$20 </b>off $125 order <b>$50</b> off $200 order. <i>Code: BONUS</i></p>
      </div>
    </div>
  </div>

  <!--Intro-->
  <div class="intro">
    <img src="../static/bg.jpg" class="int" alt="flower image" title="flower">
    <div class="introh">A 100% natural, unique dry oil that nourishes the skin.<br>Enriched with nourishing herbs,
      specifically put<br>together according to the Ayurvedic tradition for the<br>Vata Dosha. With nourishing sweet
      almond oil and<br>basil.</div>
  </div>

  <div class="intro1">
    <p class="int1">Unique blend containing<br>antioxidants, vitamin E and the<br>ingredient Centella asiatica.</p>
  </div>


  <div class="intro2">
    <h2 class="introh1">Strethen Your Skin</h2>
    <p>Special technology makes this whipped cream easy to apply while<br>its rich and velvety formulation nourishes
      your skin.<br><br>Enriched with nourishing rice milk and a flowery fragrance of cherry blossom.</p>

  </div>

  <div class="header"></div>
  <h1>Josefina Body Lotion</h1>
  <hr class="hr" />
  </div>

  <div class="webpage">

    <!--Modal Window1 main window-->
    <div class="mainwindow">
      <img src="../static/item1.png" alt="Cherry Blossom Hand Lotion image" title="Cherry Blossom Hand Lotion"
        class="item1" />
      <p class="p1"><b>THE RITUAL OF SAKURA</b></p>
      <h2>Cherry Blossom Hand Lotion</h2>
      <p class="m1">Body lotion, 70ml</p>
      <p class="d1">$12.50</p>
      <a href="#first" class="button" title="View product">View product</a>
      <a href="{{ url_for('checkout') }}" class="button1" title="Add to Shopping Cart">Checkout</a>

    </div>

    <!--Modal Window2 main window-->
    <div class="mainwindow1">
      <img src="../static/item2.png" alt="Himalaya Honey body cream image" title="Himalaya Honey body cream"
        class="item2" />
      <p class="p1"><b>THE RITUAL OF SAKURA</b></p>
      <h2>Himalaya Honey body cream</h2>
      <p class="m1">Body cream, 70ml</p>
      <p class="d1">$7.50</p>
      <a href="#second" class="button" title="View product">View product</a>
      <a href="{{ url_for('checkout') }}" class="button1" title="Add to Shopping Cart">Checkout</a>
    </div>

    <!--Modal Window3 main window-->
    <div class="mainwindow2">
      <img src="../static/item3.png" alt="Organic rice milk body cream image" title="Organic rice milk body cream"
        class="item3" />
      <p class="p1"><b>THE RITUAL OF SAKURA</b></p>
      <h2>Organic rice milk body cream</h2>
      <p class="m1">Body cream, 70ml</p>
      <p class="d1">$7.50</p>
      <a href="#third" class="button" title="View product">View product</a>
      <a href="{{ url_for('checkout') }}" class="button1" title="Add to Shopping Cart" >Checkout</a>
    </div>



    <!--modal window1-->
    <div id="first" class="modalwindow">
      <a href="#" class="back"></a>
      <div class="msgblock">
        <p class="b1">IT"S IN THE BAG!</p>

        <div class="bt"><a href="#" class="b">X</a></div>


        <hr class="hr1" />
        <img src="../static/item1.png" alt="Cherry Blossom Hand Lotion image" title="Cherry Blossom Hand Lotion" />
        <p class="g1">THE RITUAL OF SAKURA</p>
        <h2 class="k1">
          Cherry Blossom Hand<br />
          Lotion
        </h2>
        <p class="l1">Body lotion, 70ml</p>
        <p class="i1">$12.50</p>
        <p class="j1">Mix & Match: 3/$33</p>

        <div class="last">
          <p class="w1">
            Nurture and comfort skin from top to toe with The Ritual of Sakura
            Body Cream from <br />Rituals.
          </p>
          <hr class="x1" />
          <div class="btn1">
            <a href="#second" class="link">CONTINUE SHOPPING</a>
          </div>
        </div>
      </div>
    </div>



    <!--modal window2-->
    <div id="second" class="modalwindow">
      <a href="#" class="back1"></a>

      <div class="msgblock1">

        <p class="b1">IT"S IN THE BAG!</p>
        <div class="bt"><a href="#" class="b">X</a></div>

        <hr class="hr1" />
        <img src="../static/item2.png" alt="Himalaya Honey body cream image" title="Himalaya Honey body cream" />
        <p class="g1">THE RITUAL OF SAKURA</p>
        <h2 class="k1">
          Himalaya Honey Body<br />
          Cream
        </h2>
        <p class="l1">Body cream, 70ml</p>
        <p class="i1">$7.50</p>
        <p class="j1">Mix & Match: 3/$20</p>

        <div class="last">
          <p class="w1">
            Harmonise body, mind & soul with this luxurious body cream from The Ritual of<br> Ayuveda.
          </p>
          <hr class="x1" />
          <div class="btn1">
            <a href="#third" class="link">CONTINUE SHOPPING</a>
          </div>
        </div>
      </div>
    </div>


    <!--modal window3-->
    <div id="third" class="modalwindow">
      <a href="#" class="back2"></a>

      <div class="msgblock2">

        <p class="b1">IT"S IN THE BAG!</p>
        <div class="bt"><a href="#" class="b">X</a></div>

        <hr class="hr1" />
        <img src="../static/item2.png" alt="Himalaya Honey body cream image" title="Himalaya Honey body cream" />
        <p class="g1">THE RITUAL OF SAKURA</p>
        <h2 class="k1">
          Himalaya Honey Body<br />
          Cream
        </h2>
        <p class="l1">Body cream, 70ml</p>
        <p class="i1">$7.50</p>
        <p class="j1">Mix & Match: 3/$20</p>

        <div class="last">
          <p class="w1">
            Featuring special technology that makes this velvety rich cream easy to apply, it<br>intensely nourishes and
            firms the skin.

          </p>
          <hr class="x1" />
          <div class="btn1">
            <a href="#fourth" class="link">CONTINUE SHOPPING</a>
          </div>
        </div>
      </div>
    </div>

  </div>


  <div class="header">
    <h1>Josefina Gift Sets</h1>
    <hr class="hr" />
  </div>


  <div class="webpage">

    <!--Modal Window4 main window-->
    <div class="mainwindow3">
      <img src="../static/gift_set1.png" alt="Rebalancing Ritual Gift Set image" title="Rebalancing Ritual Gift Set"
        class="item4" />
      <p class="p1"><b>THE RITUAL OF AYURVEDA</b></p>
      <h3>Rebalancing Ritual Gift Set</h3>
      <p class="s1">Foaming shower gel 200 ml, body scrub 125g, <br>body cream 70 ml, hand soap 300 ml</p>
      <p class="d1">$37.50</p>
      <a href="#fourth" class="button" title="View product">View product</a>
      <a href="{{ url_for('checkout') }}" class="button1" title="Add to Shopping Cart">Checkout</a>
    </div>

    <!--Modal Window5 main window-->
    <div class="mainwindow4">
      <img src="../static/gift_set2.png" alt="Renewing Treat gift set image" title="Renewing Treat gift set"
        class="item5" />
      <p class="p1"><b>THE RITUAL OF SAKURA</b></p>
      <h3>Renewing Treat gift set</h3>
      <p class="s1">Foaming shower gel 50 ml, body scrub 70 ml, body <br> cream 70 ml, hand soap 110 ml</p>
      <p class="d1">$26.00</p>
      <a href="#fifth" class="button" title="View product">View product</a>
      <a href="{{ url_for('checkout') }}" class="button1" title="Add to Shopping Cart">Checkout</a>
    </div>

    <!--Modal Window6 main window-->
    <div class="mainwindow5">
      <img src="../static/gift_set3.png" alt="Sooothing Ritual gift set image" title="Sooothing Ritual gift set"
        class="item6" />
      <p class="p1"><b>THE RITUAL OF KARMA</b></p>
      <h3>Sooothing Ritual gift set</h3>
      <p class="s1">Foaming shower gel 200 ml, body scrub 125g,<br> body cream 70 ml, hand soap 300 ml</p>
      <p class="d1">$37.50</p>
      <a href="#sixth" class="button" title="View product">View product</a>
      <a href="{{ url_for('checkout') }}" class="button1" title="Add to Shopping Cart">Checkout</a>
    </div>


    <!--modal window4-->
    <div id="fourth" class="modalwindow">
      <a href="#" class="back3"></a>
      <div class="msgblock3">
        <p class="b1">IT"S IN THE BAG!</p>

        <div class="bt"><a href="#" class="b">X</a></div>

        <hr class="hr1" />
        <img src="../static/gift_set1.png" alt="Rebalancing Ritual Gift image" title="Rebalancing Ritual Gift" />
        <p class="g1">THE RITUAL OF AYURVEDA</p>
        <h2 class="k1">
          Rebalancing Ritual Gift <br>Set
        </h2>
        <p class="l1">Foaming shower gel 200 ml, body scrub 125g, body cream 70 ml, hand soap 300 <br> ml</p>
        <p class="i1">$37.50</p>

        <div class="last">
          <p class="w1">
            This wonderful gift pack is the perfect present for a friend or family member or for <br>treating yourself!
            Achieve inner harmony with these soothing and aromatic products <br>based on Indian Rose and Sweet Almond
            Oil. Give the gift box a second lease of life <br>by keeping photographs, letters, or other items in it.
          </p>
          <hr class="x1" />
          <div class="btn1">
            <a href="#fifth" class="link">CONTINUE SHOPPING</a>
          </div>
        </div>
      </div>
    </div>


    <!--modal window5-->
    <div id="fifth" class="modalwindow">
      <a href="#" class="back4"></a>
      <div class="msgblock4">
        <p class="b1">IT"S IN THE BAG!</p>

        <div class="bt"><a href="#" class="b">X</a></div>

        <hr class="hr1" />
        <img src="" alt="Renewing Treat gift set image" title="Renewing Treat gift set" />
        <p class="g1">THE RITUAL OF SAKURA</p>
        <h2 class="k1">
          Renewing Treat gift set
        </h2>
        <p class="l1">Foaming shower gel 50 ml, body scrub 70 ml, body cream 70 ml, hand soap 110 ml</p>
        <p class="i1">$26.00</p>

        <div class="last">
          <p class="w1">
            This wonderful gift pack is the perfect present for a friend or family member or for <br>treating yourself!
            Celebrate each day as a new beginning with these care products<br> based on the fabulous aromas of Cherry
            Blossom and Rice Milk. Free re-usable luxury <br>storage box.

          </p>
          <hr class="x1" />
          <div class="btn1">
            <a href="#sixth" class="link">CONTINUE SHOPPING</a>
          </div>
        </div>
      </div>
    </div>


    <!--modal window6-->
    <div id="sixth" class="modalwindow">
      <a href="#" class="back5"></a>
      <div class="msgblock5">
        <p class="b1">IT"S IN THE BAG!</p>

        <div class="bt"><a href="#" class="b">X</a></div>

        <hr class="hr1" />
        <img src="../static/gift_set3.png" alt="Soothing Ritual gift set image" title="Soothing Ritual gift set" />
        <p class="g1">THE RITUAL OF KARMA</p>
        <h2 class="k1">
          Soothing Ritual gift set
        </h2>
        <p class="l1">Foaming shower gel 200 ml, body scrub 125g,body cream 70 ml, hand soap 300 <br>ml</p>
        <p class="i1">$37.50</p>

        <div class="last">
          <p class="w1">
            This wonderful gift pack is the perfect present for a friend or family member or for <br> treating yourself!
            Experience the ultimate summer sensation with these soothing <br>products based on the floral aroma of Holy
            Lotus and Organic White Tea. Give the gift <br> box a second lease of life by keeping photographs, letters,
            or other items in it. Free re-<br>usable luxury storage box.

          </p>
          <hr class="x1" />
          <div class="btn1">
            <a href="#first" class="link">CONTINUE SHOPPING</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="footer">
    <footer class="">
      <div class="bottom">

        <div class="indi">
          <p><b>HELP</b></p>
          <p>Customer Service<br>Live Chat</p>
          </li>

        </div>

        <div class="indi1">
          <p><b>ACCOUNT</b></p>
          <p>Your Account<br>Order Status</p>
          </li>
        </div>

        <div class="indi2">
          <p><b>SUBSCRIBE</b></p>
          <p>Emails<br>Store Offer and Events</p>
        </div>

        <div class="indi3">
          <p><b>THE MEMBER CARD</b></p>
          <p>Learn More<br>Pay My Bill</p>
        </div>

        <hr class="break">
        <p class="con"><b>CONNECT WITH JOSEFINA BODY CARE COLLECTION</b></p>

        <div class="icons">
          <a href="https://www.facebook.com/" target="_blank"><img src="../static/icons/facebook.png" alt="fb logo"
              class="fb"></a>
          <a href="https://www.instagram.com/" target="_blank"><img src="../static/icons/instagram.png"
              alt="instagram logo" class="insta"></a>
          <a href="https://www.youtube.com/" target="_blank"><img src="../static/icons/youtube.png" alt="youtube logo"
              class="yt"></a>
          <a href="https://www.pinterest.com/" target="_blank"><img src="../static/icons/pin.png" alt="pinterest logo"
              class="pin"></a>
          <a href="https://twitter.com/?lang=en" target="_blank"><img src="../static/icons/twitter.png"
              alt="twitter logo" class="tw"></a>
        </div>

        <p class="ll"> <b>©2021 Josefina Body Care Collection by Aisha Chowdhury All Rights Reserved</b></p>
        <p class="nn"><b>NOTE</b>:This webpage is a template to create a sales website. All information and materials
          used are ONLY for educational purposes. </p>
      </div>

    </footer>
  </div>




</body>

</html>