body {
    height: 100vh;
    display: flex;
    background-image: linear-gradient( to bottom,  rgb(238, 183, 190), rgba(197, 183, 185, 0.7)),url("../static/pic.jpeg");
}

.container {
    margin: 10%;
    width: 100%;
    align-items: center;
}

h1, h2 {
    color: white;
    margin-left: 6%;
    margin-top: 12%;
    margin-bottom: 0%;
    margin-right: 0%;
    text-align: center;
}